.be-a-savior {
  height: 100%;
  
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 20px;
    vertical-align: middle;

    .logo {
      img {
        width: 75px;
      }
    }

    .github {
      display: inline-block;
      margin: auto;
      font-weight: 500;

      svg {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
      }
    }

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 36px;

      li {
        display: inline-block;
        vertical-align: middle;

        a {
          cursor: pointer;
          background-color: transparent;
          transition: background-color 300ms ease-in-out, color 300ms ease;
          border-radius: 20px;
          padding: 20px;
          outline: 1px solid #ffffff;
          font-weight: 500;
          
          &:hover {
            background-color: #ffffff;
            color: #21212E;
          }
        }
      }
    }
  }
  
  .container {
    max-width: 1460px;
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 121px;
    width: 100%;

    .column {
      width: 50%;
      display: inline-block;
      vertical-align: middle;

      h1 {
        font-weight: 600;
        font-size: 50px;
      }

      p {
        max-width: 596px;
        margin-top: 38px;
        margin-bottom: 82px;
        line-height: 28px;
        font-weight: 16px;
      }

      a {
        position: relative;
        padding: 30px 66px;
        font-weight: 600;
        font-size: 28px;
        color: #FFFFFF;

        border-radius: 20px;
        
        background-image: linear-gradient(to right, #3157cd, #15349b, #0a1577);
        color: #003cff;
        filter: drop-shadow(10px 10px 110px);

        transition: outline 300ms ease-in-out, background-image 400ms ease;

        &:hover {
          filter: drop-shadow(10px 10px 110px);
        }

        &::before {
          content: 'Baixar App';
          position: absolute;
          left: 0%;
          top: 0;

          outline: 0;
          padding: 30px 66px;
          font-weight: 600;
          font-size: 28px;
          color: #fff;
        }
      }
    }
  }
}

@include for-size(desktop-1480) {
  .be-a-savior {
    header {
      max-width: 1346px;
    }

    .container {
      max-width: 1346px;
    }
  }
}

@include for-size(desktop-1366) {
  .be-a-savior {
    header {
      max-width: 1180px;
    }

    .container {
      max-width: 1180px;
    }
  }
}

@include for-size(desktop-1200) {
  .be-a-savior {
    header {
      max-width: 980px;
    }

    .container {
      max-width: 980px;
    }
  }
}

@include for-size(tablet) {
  .be-a-savior {
    header {
      max-width: 700px;
      grid-template-columns: 0.3fr 0fr 1fr 1fr;
    }

    .container {
      max-width: 700px;

      .column {
        width: 100%;
        display: block;

        img {
          margin-top: 70px;
        }
      }
    }
  }
}

@include for-size(phone-720) {
  .be-a-savior {
    header {
      max-width: 580px;
    }

    .container {
      max-width: 580px;
    }
  }
}

@include for-size(phone) {
  .be-a-savior {
    header {
      max-width: 400px;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;

      .invisible {
        display: none;
      }

      .logo {
        margin: auto;
      }

      .github {
        margin: auto;
      }

      ul {
        margin: auto;
      }
    }

    .container {
      max-width: 400px;
      text-align: center;
    }
  }
}

@include for-size(phone-420) {
  .be-a-savior {
    header {
      padding-left: 15px;
      padding-right: 15px;
    }

    .container {
      padding-left: 15px;
      padding-right: 15px;

      .column {
        h1 {
          font-size: 42px;
        }

        a {
          padding: 20px 45px;
          font-size: 26px;
          border-radius: 16px;

          &::before {
            padding: 20px 45px;
            font-size: 26px;
          }
        }
      }
    }
  }
}